
experiments/APP/electron_app/electron_goTED_react/

experiments/APP/electron_app/electron_goTED_vanilla/

experiments/APP/ionic_app/

experiments/APP/reactNative_app/

experiments/APP/nativeScript_app/

experiments/dataScience/Python/resources/

experiments/dataScience/Julia/resources/

experiments/dataScience/Scala/resources/

experiments/dataScience/sampleJSON/

experiments/dataScience/TypeScript/resources/

*.pdf

experiments/tedTalkDB/

goKEN/

goTALK/

resources/

experiments/scala_utils/hello/
